@model WebApplication2.Models.MARCA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <br/>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_MARCA }) |
    @Html.ActionLink("Volver", "Index")
</p>
